.board-cell__container {
  width: 48px;
  height: 48px;
  padding: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.board-cell__item {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.available-position__item {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  box-sizing: border-box;
  animation: scaling 2s linear infinite;
}

.cell-dark {
  background: radial-gradient(#222 15%, transparent 16%) 0 0,
    radial-gradient(#222 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #222;
  background-size: 12px 12px;
}

.cell-light {
  background: radial-gradient(#777 15%, transparent 16%) 0 0,
    radial-gradient(#777 15%, transparent 16%) 6px 6px,
    radial-gradient(rgba(220, 220, 220, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(220, 220, 220, 0.1) 15%, transparent 20%) 6px 6px;
  background-color: #888;
  background-size: 12px 12px;
}

.cell-blue {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    blue 3%,
    lightblue 60%,
    blue 100%
  );
  color: black;
  font-weight: bold;
}

.cell-red {
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    red 3%,
    blue 60%,
    red 100%
  );
  color: white;
  font-weight: bold;
}

.draggable {
  cursor: grab;
  animation: scaling 2s linear infinite;
}

.not-draggable {
  cursor: not-allowed;
}

.on-drag {
  background-color: gray;
}

.cell-blue.draggable:hover {
  background-color: lightblue;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
