.layout__container {
  height: 100%;
  color: white;
}

.layout-content__container {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
  padding-top: 70px;
  background: hsl(0, 0%, 10%);
}