.history-panel__container {
  width: 200px;
  font-size: 36px;
  text-align: center;
  justify-content: center;
  background: radial-gradient(#222 15%, transparent 16%) 0 0, radial-gradient(#222 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #222;
  background-size: 12px 12px;
  padding: 35px;
  border-radius: 20px;
}

.history-panel {
  border: 3px solid white;
  height: 500px;
  margin: 0px;
  overflow: auto;
}

.history-record {
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
}

.history-panel::-webkit-scrollbar {
  display: none;
}