.history-panel__container {
  width: 200px;
  font-size: 36px;
  text-align: center;
  justify-content: center;
}

.history-panel {
  border: 1px solid black;
  height: 500px;
  margin: 0px;
  overflow: auto;
}

.history-record {
  font-size: 16px;
  text-align: left;
}
