.game-board {
  margin: 10px;
  text-align: center;
}

.game-board__container {
  border-spacing: 0px;
  display: inline-block;
  cursor: not-allowed;
}

.game-board-content__container {
  width: 100%;
}

.board-row__container {
  /* display: flex; */
}
