.game-board {
  margin: 10px;
  text-align: center;
  display: grid;
}

.player-turn__container {
  font-size: 24px;
}

.game-board__container {
  border-spacing: 0px;
  display: inline-block;
  cursor: not-allowed;
}

.game-board-content__container {
  width: 100%;
}

.table-blank-item__container {
  width: 24px;
  height: 24px;
}

.th-title__container {
  height: 24px;
}

.td-title__container {
  width: 24px;
}
